<!-- header -->
<include file="./Application/Admin/View/Common/header.html" />
			<div class="row">
				<!-- left -->
				<include file="./Application/Admin/View/Common/left.html" />
				<div class="col-lg-10">
					<div class="row">
						<!--路径导航-->
						<ol class="breadcrumb">
						      当前位置：
						  <li class="active">后台首页</li>
						</ol>
					</div>
					<!-- main -->
					首页哦
				</div>
			</div>
		</div>
		
		
		
		
		
		
	<!-- footer -->
	<include file="./Application/Admin/View/Common/footer.html" />
	</body>
</html>
