<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	    <link rel="stylesheet" href="{:C('STATIC_RESOURCE')}css/bootstrap3.3.7.min.css" />
	    
	    <!-- slider -->
	    <link rel="stylesheet" href="{:C('STATIC_RESOURCE')}css/slider.css">
		<!-- slider -->
		<script src="{:C('STATIC_RESOURCE')}js/slider.js"></script>
		<title>图图潮牌商城</title>
	</head>
	<body>
		<div class="container-fluid">
			<!-- nav start -->
			<include file="./Application/Home/View/Common/nav_top.html" />
			<!-- nav end -->
			<div class="row">
				<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
				<div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
					<div data-p="170.00"> <img data-u="image" src="http://www.17sucai.com/preview/1266961/2018-09-04/Trends/images/slide-01.jpg" /> </div>
					<div data-p="170.00"> <img data-u="image" src="https://s10.mogucdn.com/mlcdn/c45406/181001_3c674cc7edglh1kfa1fa2867l44ec_960x402.jpg_999x999.v1c0.webp" /> </div>
					<div data-p="170.00"> <img data-u="image" src="https://s10.mogucdn.com/mlcdn/c45406/180925_19j38a8eg9bk77l0dgeh438l5f2d7_960x402.jpg_999x999.v1c0.webp" /> </div>
					<div data-p="170.00"> <img data-u="image" src="https://s10.mogucdn.com/mlcdn/c45406/180928_62b93jbgijdgc767cef5g5l59dd15_1144x479.jpg_1000x9999.v1c7E.webp" /> </div>
				</div>
				
				<div data-u="navigator" class="jssorb051" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
				<div data-u="prototype" class="i" style="width:16px;height:16px;">
				<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
				<circle class="b" cx="8000" cy="8000" r="5800"></circle>
				</svg>
				</div>
				</div>
				
				<div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
				<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
				<polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
				</svg>
				</div>
				<div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
				<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
				<polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
				</svg>
				</div>
				</div>
				<script type="text/javascript">jssor_1_slider_init();</script>
			</div>
		</div>
		
		
		
	<!-- footer -->
	<include file="./Application/Admin/View/Common/footer.html" />
	
	</body>
</html>
