<div class="col-lg-2 left left_height">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" class="dropdown active">
					    <a class="dropdown-toggle" href="{:U('Admin/Index/index')}" role="button">
					      	首页 
					    </a>
					  </li>
					  <li role="presentation" class="dropdown active">
					    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					      	用户管理 <span class="caret"></span>
					    </a>
						<ul class="dropdown-menu">
							<li><a href="{:U('Admin/Manager/index')}">管理员列表</a></li>
							<li><a href="{:U('admin/Manager/add')}">添加管理员</a></li>
						</ul>
					  </li>
					   <li role="presentation" class="dropdown active">
					    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					      	商品管理 <span class="caret"></span>
					    </a>
						<ul class="dropdown-menu">
							<li><a href="{:U('admin/Goods/index')}">商品列表</a></li>
							<li><a href="{:U('admin/Goods/add')}">添加商品</a></li>
							<li><a href="{:U('admin/Category/index')}">商品分类</a></li>
							<li><a href="{:U('admin/Category/add')}">添加商品分类</a></li>
							<li><a href="#">类型属性</a></li>
						</ul>
					  </li>
					  <li role="presentation" class="dropdown active">
					    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					      	权限管理 <span class="caret"></span>
					    </a>
						<ul class="dropdown-menu">
							<li><a href="#">用户列表</a></li>
							<li><a href="#">添加用户</a></li>
						</ul>
					  </li>
					</ul>
				</div>
